/* normalize */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Spoqa Han Sans', AppleSDGothic, '맑은 고딕', Dotum, sans-serif;
  line-height: 1.6;
}
body {
  margin: 0;
}
article, aside, details,
figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
h1, .h1 {
  font-size: 36px;
  font-weight: normal;
}
h2, .h2 {
  font-size: 32px;
  font-weight: normal;
}
h3, .h3 {
  font-size: 20px;
  font-weight: normal;
}
h4, .h4 {
  font-size: 16px;
  font-weight: normal;
}
h5, .h5 {
  font-size: 14px;
  font-weight: normal;
}
h6, .h6 {
  font-size: 12px;
  font-weight: normal;
}
ul, ol {
  list-style: none;
}

/* style */

header {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 25px;

}

header .container img {
  width: 145px;
  margin-top: -2px;
}

header .gnb {
  float: right;
}

header .gnb li {
  float:left;
  margin-top: 4px;
  background:url(../images/bul_line1.gif) no-repeat left 5px; padding:0px 20px;
}

header .gnb li:first-child {
  background:none;
}

header .gnb li a {
  font-size:16px;
  color:#4c4c4c;
  float:right;
  font-weight:normal;
  text-decoration: none;
}


header .gnb li a:hover {
  opacity: 0.5;
}



footer {
  width: 100%;
  height: 230px;
  display: table;
  background-color: #313846;
  text-align: center;
}
footer h4 {
  display: table-cell;
  vertical-align: middle;
  color: #c0c1c4;
}

footer h4 span {
  font-size: 14px;
}


footer h4 a img {
  width: 100px;
  margin-top: 30px;
}



.container {
  width: 980px;
  max-width: 980px;
  margin: 0 auto;
}
.title {
  color: #ff5f45;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.intro-wrapper {
  width: 100%;
  height: 638px;
  background-color: #3856ac;
  background-image: url(../images/bg-main.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: table;
}
.intro-wrapper .container {
  display: table-cell;
  vertical-align: middle;
}
.intro-wrapper h3 {
  white-space: pre-line;
  margin-bottom: 50px;
}
.list-wrapper {
  padding: 70px 0;
}
.list-wrapper .list li {
  overflow: auto;
  margin-bottom: 30px;
}
.list-wrapper .list li:last-child {
  margin-bottom: 0;
}
.list-wrapper .list .list__thumb {
  float: left;
}
.list-wrapper .list .list__txt {
  width: 75%;
  float: left;
  padding-left: 30px;
}
.list-wrapper .list .list__txt h3 {
  color: #ff5f45;
  margin-bottom: 10px;
}
.list-wrapper .list .list__txt h5 {
  color: #4c4c4c;
}
.project-wrapper {
  background-image: url(../images/bg-project.png);
  background-repeat: repeat;
  padding: 70px 0;
}
.project-wrapper .project {
  overflow: auto;
}
.project-wrapper .project li {
  width: 23.5%;
  min-height: 350px;
  background-color: #fff;
  float: left;
  margin-right: 2%;
}
.project-wrapper .project li:last-child {
  margin-right: 0;
}
.project-wrapper .project li:last-child .project__icon h3 {
  margin-top: 15px;
}

.project-wrapper .project li a {
  text-decoration: none;
}


.project-wrapper .project .project__icon {
  min-height: 235px;
  text-align: center;
  color: #396db1;
  padding: 40px 0;
  line-height: 1.4;
}
.project-wrapper .project .project__icon img {
  margin-bottom: 10px;
}
.project-wrapper .project .project__txt {
  min-height: 182px;
  background-color: #f5f6f8;
  padding: 20px;
  color: #4c4c4c;
}
.banner-wrapper {
  padding: 70px 0;
  overflow: auto;
}
.banner-wrapper .banner {
  min-height: 340px;
  padding: 40px 20px;
}
.banner-wrapper .banner a {
  height: 36px;
  line-height: 38px;
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 25px;
}
.banner-wrapper .banner.left {
  width: 61.5%;
  background-color: #396db1;
  float: left;
  color: #fff;
  position: relative;
}
.banner-wrapper .banner.left img {
  position: absolute;
  right: 20px;
  top: 160px;
}
.banner-wrapper .banner.left a {
  background-color: #fff;
  color: #396db1;
}
.banner-wrapper .banner.left h2 {
  margin-bottom: 20px;
}
.banner-wrapper .banner.right {
  width: 36.5%;
  background-color: #ebf0f7;
  float: right;
}
.banner-wrapper .banner.right img {
  float: left;
  margin-right: 20px;
}
.banner-wrapper .banner.right h4 {
  color: #396db1;
  font-weight: bold;
  height: 97px;
  margin-bottom: 25px;
}
.banner-wrapper .banner.right h5 {
  color: #4e6482;
}
.banner-wrapper .banner.right a {
  color: #fff;
  background-color: #396db1;
}

/* media query */


@media (max-width: 1000px) and (min-width: 768px) {
  .container {
    width: 750px;
  }
  .intro-wrapper {
    height: auto;
    padding: 40px;
    display: block;
  }
  .intro-wrapper .container {
    display: block;
    width: 100%;
  }
  .intro-wrapper .container img {
    width: 100%;
  }
  .list-wrapper .list .list__thumb {
    width: 25%;
  }
  .list-wrapper .list .list__txt {
    padding-left: 20px
  }
  .list-wrapper .list .list__txt {
    width: 66%;
  }
  .list-wrapper .list .list__txt h3 {
    line-height: 1.4;
  }
  .project-wrapper .project .project__txt {
    min-height: 220px;
  }
  .banner-wrapper .banner {
    min-height: auto;
  }
  .banner-wrapper .banner.left {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-wrapper .banner.left h2 br {
    display: none;
  }
  .banner-wrapper .banner.left img {
    top: 110px;
  }
  .banner-wrapper .banner.right {
    width: 100%;
  }
  .banner-wrapper .banner.right h5 br{
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gnb {
    display: block;
    background: #fff;
    margin: 10px -15px;
    padding: 10px 0;
  }
  .intro-wrapper {
    height: auto;
    padding: 40px;
    display: block;
  }
  .intro-wrapper .container {
    display: block;
  }
  .intro-wrapper .container img {
    width: 100%;
  }
  .list-wrapper .list .list__thumb {
    width: 25%;
  }
  .list-wrapper .list .list__txt {
    padding-left: 20px
  }
  .project-wrapper .project li {
    width: 49%;
    min-height: 200px;
    margin-right: 2%;
    margin-bottom: 20px;
  }
  .project-wrapper .project li:nth-child(even) {
    margin-right: 0;
  }
  .project-wrapper .project .project__txt {
    min-height: 128px;
  }
  .banner-wrapper .banner {
    min-height: auto;
  }
  .banner-wrapper .banner.left {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-wrapper .banner.left h2 br {
    display: none;
  }
  .banner-wrapper .banner.left h5 br {
    display: none;
  }
  .banner-wrapper .banner.left img {
    position: static;
    display: block;
    margin-top: 20px;
  }
  .banner-wrapper .banner.right {
    width: 100%;
  }
  .banner-wrapper .banner.right h5 br{
    display: none;
  }
}
@media (max-width: 480px) {
   .banner-wrapper .banner.left h5{ padding-bottom:0;}
  footer h4 a img { margin-top:10px;}
  footer h4 span { font-size: 12px;padding:0 25px;
    line-height: 16px;
    display: block;
    margin-top: 15px;}
  .banner-wrapper { padding:20px 0 ;}
  .list-wrapper .list .list__txt h3 { line-height:1.2}	
  .project-wrapper,
  .list-wrapper { padding: 40px 0;}
  header .gnb { 
    display: block;
    background: #fff;
    margin: 10px -15px;
    padding: 10px 0;
  }
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
	text-align: center;
  }
  .intro-wrapper {
    height: auto;
    padding: 20px 0px;
    display: block;
  }
  .intro-wrapper .container {
    display: block;
  }
  .intro-wrapper h1 {
    font-size: 26px;
    font-weight: bold;
	margin-top:20px;
  }
  .intro-wrapper h3 {
    font-size: 14px;
    white-space: inherit;
	padding:0 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .intro-wrapper .container img {
    width: 80%;
	margin-bottom:20px;
  }
  .list-wrapper .list .list__thumb {
    width: 100%;
    float: none;
	margin-bottom:10px;
  }
  .list-wrapper .list .list__txt {
    width: 100%;
    float: none;
    padding-left: 0px
  }
  .project-wrapper .project li {
    width: 100%;
    min-height: auto;
    margin-bottom: 20px;
  }
  .project-wrapper .project .project__icon {
    min-height: auto;
    padding: 30px 0;
  }
  .project-wrapper .project li:last-child .project__icon h3 {
    margin-top: 0;
  }
  .project-wrapper .project .project__txt {
    min-height: auto;
  }
  .banner-wrapper .banner {
    min-height: auto;
  }
  .banner-wrapper .banner.left {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-wrapper .banner.left h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
  }
  .banner-wrapper .banner.left h2 br {
    display: none;
  }
  .banner-wrapper .banner.left img {
    position: static;
    display: block;
    margin-top: 20px;
  }
  .banner-wrapper .banner.right {
    width: 100%;
  }
  .banner-wrapper .banner.right h5 br{
    display: none;
  }
}
